
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000; 
}

.card {
  position: relative;
  min-width: 90%; 
  min-height: 90%;
  padding: 20px;
  padding-top: 0;
  margin: 10px;
  border-radius: 8px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 16px rgba(105, 50, 224, 0.685); 
  overflow-y: auto;
}

button{
  background-color: #2babec;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  min-width: 100%;
}
button:hover {
  opacity: 0.9;
}


.closeButton {
  margin: 10px;
  position: absolute;
  color: #ff0000;
  /* border: solid red; */
border-radius: 50%;

}
.closeButton:hover{
  background-color: #ffdddd8d;
}